/* Modern CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
}

.primary-color {
  color: #222;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
li {
  list-style-type: none; /* 리스트(* or 숫자)를 지워준다 */
}

header {
  width: 1440px;
  margin: 0 auto;
  height: 90px;
  display: flex;
  justify-content: space-between;
}

.left-nav {
  height: 100%;
  background-color: white;
  display: flex; /* 수평 정렬  'one'에서 입력하면 자식애들이 적용 됨*/
  align-items: center; /* 평평하게 정렬해줌 */
}

.left-nav .logo img {
  width: 166px;
}

.left-nav .menubar a {
  font-size: 24px;
}

.notice-button {
  background-color: #f5f1de;
  border-radius: 500px;
  opacity: 1;
  padding: 8px 12px;
  border: none;
  font-size: 21px;
  color: #4e4e4e;
}

.menubar-list {
  display: flex;
  margin-left: 32px;
  margin-right: 40px;
  gap: 40px;
}

.right-nav {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon-button {
  position: absolute;
  left: 8px;
}

.search-box {
  border-radius: 100px;
  border: 2px solid #e24444;
  width: 264px;
  height: 40px;
  padding: 6px 45px;

  ::placeholder {
    color: #4e4e4e;
    font-size: 14px;
  }
}

.search-dotbogi {
  position: absolute;
  right: 8px;
  border: none;
  background: none;
}

/*----------header---------*/
/*----------main---------*/

.main-banner {
  width: 100%;
  height: 586px;
  background: #eb6265;
  position: relative;
}

.main-banner-content-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 196px;
}

.main-banner-content-text h2 {
  font-size: 24px;
  color: white;
  font-weight: normal;
  line-height: 150%;
}

.main-banner-content-text h3 {
  font-size: 48px;
  color: white;
  font-weight: normal;
  line-height: 130%;
  margin-bottom: 32px;
}

.main-banner-content-text-detail {
  font-size: 20px;
  font-weight: normal;
  line-height: 150%;
  color: white;

  :last-child {
    margin-bottom: 0;
  }
}

.main-banner-content-text-detail span {
  padding: 0 10px;
}

.main-banner-content-text-detail p {
  margin-bottom: 12px;
}

.main-banner-apply-button {
  margin-top: 64px;
  font-size: 20px;
  font-weight: normal;
  line-height: normal;
  text-align: center;
  color: #f5f1de;
  background-color: #4a734e;
  padding: 10px;
  border-radius: 5px;
  border: none;
  width: 160px;
  height: 52px;
}

.main-contents-wrap {
  margin: 0 auto;
  width: 1440px;
}

main .sub-banner {
  margin-top: 40px;
  width: 1440px;
  background-color: #f5f1de;
  height: 170px;
  border-radius: 10px;
  padding: 45px 97px;
  margin-bottom: 120px;
}

main .sub-banner strong {
  color: #e24444;
}

main .sub-banner p {
  font-size: 32px;
  font-weight: normal;
  line-height: 150%;
  color: #222222;
}

.best_pick h5 {
  width: 298px;
  height: 39px;
  font-size: 32px;
  font-weight: normal;
  line-height: 150%;
  color: #e24444;
}

.bp-content-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bp-content {
  margin-top: 40px;
  max-width: 306px;
}

.bp-content-card-img {
  border-radius: 20px;
  margin-bottom: 16px;
}

.bp-content-info-title {
  font-size: 24px;
  line-height: 150%;
}

.bp-content-info-info {
  display: flex;
  align-items: center;
  gap: 16px;
}

.bp-content-info-daybadge {
  width: 72px;
  height: 33px;
  background-color: #f9dada;
  display: flex;
  align-items: center; /*수직정렬*/
  justify-content: center; /*수평정렬*/
  border-radius: 20px;
  gap: 6px;
  color: #e24444;
}

footer {
  width: 1440px;
  margin: 34px auto;
  background-color: #f5f1de;
  padding: 64px 84px;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.sitemap {
  display: flex;
  gap: 88px;
}

.sitemap ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.sitemap ul li {
  font-size: 16px;
  font-weight: normal;
  line-height: 150%;
  color: #222222;
}

.footer-icons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-end;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-copyright ul {
  display: flex;
  gap: 40px;
}
